<!-- Menu Configuration File -->

<menu>
    <drink>
        <name>water</name>
        <ingredients>
            <ingredient>water</ingredient>
        </ingredients>
        <recipe>
            <instr item="water">Grab</instr>
            <instr amount="20">Pour</instr>
            <instr item="water">Release</instr>
            <instr>Deliver</instr>
        </recipe>
    </drink>
    <drink>
        <name>lemonade</name>
        <ingredients>
            <ingredient>water</ingredient>
            <ingredient>lemon</ingredient>
        </ingredients>
        <recipe>
            <instr item="water">Grab</instr>
            <instr amount="10">Pour</instr>
            <instr item="water">Release</instr>
            <instr item="lemon">Grab</instr>
            <instr amount="10">Pour</instr>
            <instr item="lemon">Release</instr>
            <instr>Deliver</instr>
        </recipe>
    </drink>
    <drink>
        <name>iced tea</name>
        <ingredients>
            <ingredient>water</ingredient>
            <ingredient>tea</ingredient>
        </ingredients>
        <recipe>
            <instr item="water">Grab</instr>
            <instr amount="10">Pour</instr>
            <instr item="water">Release</instr>
            <instr item="tea">Grab</instr>
            <instr amount="10">Pour</instr>
            <instr item="tea">Release</instr>
            <instr>Deliver</instr>
        </recipe>
    </drink>
</menu>